html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
$mobile : 768px;
@mixin mobile {
   @media (max-width: #{$mobile}) {
    @content;
   } 
}
#nav{
    margin:0 !important;
    border-radius: 0 !important;
    .container{
        background-color:rgb(0, 153, 255); 
        a{
            color: #ccc;
        }
    }
}

.container{
    background:#ccc; 
    #split{
        clip-path: none !important;
    }
    .row{
        background:#666;
        padding: 80px 0;
        clip-path: polygon(0 0, 100% 3%, 100% 94%, 0% 100%);
        .thumbail img{
            width:100%;
            height:200px;
            @include mobile{
                height:130px !important;    
            }
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 96%);

        } 
        #split-1,   #split-2{
            background-image: url("images/image6.jpg");
            background-position:center;
            background-repeat: no-repeat;
            background-size: cover;
            height:450px;
            @include mobile{
                height:250px !important;  
            } 
            border:1px solid #444;
            position: relative;
            transform: scale(1);
            transition: all 300ms cubic-bezier(0.23, 1, 0.320, 1);
            display: flex;
            align-items: center;
            align-content:center;
            text-align: center;
            color:#aaa;
            h2,h1{
                color:rgb(0, 153, 255);
                text-align: center;
            }

            article{
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 74% 86%, 50% 75%, 0% 75%);
                background:rgba(118, 119, 119, 0.7); 
                padding: 20px 3% 100px 5%;    
                color:#ddd;
                div{
                    float: right;
                }
                div a{
                    text-decoration:  none;
                    font-size: 16px;   
                    margin-left: 5px;             
                } 
                div i{
                    font-size: 20px;
                    position: relative;
                    left: 0px;
                    transition: all 300ms linear;
                }   
                 a:hover +  i{
                    left:10px;
                }

            }
            button{
                background: transparent;
                color:rgb(0, 153, 255);               
            }
        }
        #split-1{
            background-image: url("../images/image4.jpg");
        }
        #split-2{
            background-image: url("../images/image6.jpg");
        }
        #split-1::after ,   #split-2::after{
            position: absolute;
            content: '';
            top:0; bottom:0; left:0; right:0;
            height:450px;
            background-color:rgba(0,0,0,.5);
            z-index: -1;  
        }
        #split-1:hover,   #split-2:hover{
            transform: scale(.99);
        }
    }
    #sec2{
        background-color:#444;  
        clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);  
        color:#aaa;
       h1{
           color:rgb(0, 153, 255);
       }    
    }
    #split{
        padding: 0 !important;
    }
    #sec3{
        padding: 60px 5%;
        h1{
            line-height:2; 
            color:rgb(0, 153, 255);
         }
        aside{
            background:#aaa; 
            height: 200px;
            margin:0 !important;
            padding: 0 !important; 
            img{
                width:100%;
                height: 200px;
                @include mobile{
                    height:130px;   
                }
                margin:0 !important;
                padding: 0 !important; 
            }
            div{
                margin:10px 0 !important; 
                a{
                    font-size: 17px;
                    letter-spacing: 10px;
                }
            }
        }
        
    }
    .carousel {
        margin: 100px 0;
        @include mobile{
            margin: 70px 0;  
        }
        img{
            width:100%;
            height:300px !important;
            @include mobile{
                height:230px !important;   
            }
        }
    }
    hr{
        color:#444;
        background-color:#444;
        border-color:#444;
    }
    .footer{
        background:rgb(0, 153, 255);
        width: 100% !important;
        margin: 0 !important;
    }
}
